@model Lab3.Models.Student
@{
    Layout = "_Layout";
}

<table>
    <tr>
        <td>First Name:</td>
        <td>@Model.FName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@Model.LName</td>
    </tr>
    <tr>
        <td>Student ID:</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Email Address:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Description of Person:</td>
        <td>@Model.Desc</td>
    </tr>
</table>